.top-header {
    background-color: #8c4e03;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}

.member-form-content {
    font-family: "Montserrat", sans-serif;
}

.top-header-content {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 50px;
    font-size: 0.875rem;
    font-weight: 200;
}

.top-header-content-left {
    display: flex;
    flex-direction: row;
}

.phoneNo {
    margin-right: 10px;
}

.wa-link {
    text-decoration: none;
    color: white;
}

.wa-link:hover {
    color: white;
}

.maillink {
    text-decoration: none;
    color: white;
}

.maillink:hover {
    color: white;
}

.fa-phone {
    margin-right: 5px;
}

.fa-envelope {
    margin-right: 5px;
}

.top-header-content {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-color: #bf9445;
    display: block;
}

#navText {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

#navSelect:hover {
    /* opacity: 50%; */
    background-color: #f2c36b;
    border-radius: 25px;
}

#btnWrapper {
    padding: 0.25rem;
}

.nav-item.active {
    color: white;
    background-color: #f2c36b;
    border-radius: 25px;
}

.btn.regButton {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #8c4e03;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
    /* margin-left: 10px; */
}

.btn.loginButton {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #d94c1a;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.reg-submit-button{
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #d94c1a;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    border: none;
    border-radius : 10px;
    cursor: pointer;
}

/* .carousel-item img {
    object-fit: fill;
    object-position: center;
    height: 75vh;
    overflow: hidden;
    display: block;
  } */

#about-us {
    padding-top: 50px;
    font-family: "Lexend", sans-serif;
}

#about-us h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

#about-us p {
    font-size: 1rem;
    font-weight: 400;
}

.about-content {
    margin: 0 25% 0 25%;
}

.facility-content {
    margin: 0 25% 0 25%;
}

.regButton a {
    text-decoration: none;
    color: white;
}

.regButton:hover {
    background-color: rgba(140, 78, 3, 0.75);
}

.regButton a:hover {
    color: white;
    opacity: 50%;
}

.loginButton a {
    text-decoration: none;
    color: white;
}

.loginButton a:hover {
    color: white;
    opacity: 50%;
}

#facility {
    padding-top: 50px;
}

.registration-desc{
    font-size: 1.125rem;
}

.registration-card{
    margin-left: 25%;
}

.member-buttons{
    background-color: #fb9300;
    /* padding: 2.5%; */
    border-radius: 10px;
}


/* Member Modal */
/* .hidden {
    display: none;
}

.member-modal {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 25%;
    /* transform: translate(-50%, -50%); */

    /* background-color: white;
    border-radius: 2.5rem;
    padding: 5rem; */
} */
/* .content-wrapper {
    padding: 0;
    margin: 0;
  } */

/* .btn-colour-1{
      color: white;
      background-color: #faa307;
      border-color: #faa307;
      border-radius: 0;
  } */

/* #rightNav{
      margin-right: 100px;
  } */
